.online {
  color: green;
}

.offline {
  color: red;
}

.friend {
  border: 1px solid black;
  border-radius: 8px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.friendImg {
  margin-bottom: 10px;
}
